.netrwhist
*.swp
vim/local_utils/unite/directory_mru
vim/local_utils/unite/file_mru
vim/local_utils/unite/file_mru_long
vim/local_utils/unite/history_yank
vim/local_utils/unite/outline/**
vim/local_utils/unite/rec/file/**
vim/vimrc_local
