[core]
    excludesfile = ~/.gitignore_global
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    d = diff --color
    ds = diff --color --cached # Diff Staged

    dt = difftool
    dts = difftool --cached # Diff Tool Staged

    m = merge
    mt = mergetool

    b = branch
    bl = branch --all --verbose # Branch List
    bd = branch -D # Branch Delete
    bdu = push origin --delete # Branch Delete Upstream
    bc = checkout -b # Branch Create
    bcu = push origin --set-upstream HEAD # Branch Create Upstream

    cm = commit
    cmm = commit --message
    cmfu = commit --fixup

    f = fetch
    co = checkout
    sh = show --decorate --stat

    st = stash
    sts = stash --patch --stat
    stl = stash list

    s =!git status --short --branch && git --no-pager stash list
    ss = status

    a = add
    aa = add -A # Add All
    amd = add --update :/ # Add Modified files
    as = update-index --again # Add Staged files that need to be updated: files that need to be updated

    rs = reset
    rsh = reset HEAD

    rb =  rebase
    rbi = rebase --interactive --autosquash
    rbc = rebase --continue
    rba = rebase --abort

    rl =  !git --no-pager reflog --max-count=20
    rll = reflog

    l =  !git --no-pager log --pretty=tformat:'%><(9)%C(yellow)%h%Creset %Cgreen%ad%Creset %><(15,trunc)%Cblue%an%Creset %s%C(auto)%d%Creset' --boundary --date=short --max-count=10
    lu = !git --no-pager log --pretty=tformat:'%><(9)%C(yellow)%h%Creset %Cgreen%ad%Creset %><(15,trunc)%Cblue%an%Creset %s%C(auto)%d%Creset' --boundary --date=short --graph --left-right @{upstream}...HEAD
    ll =                 log --pretty=tformat:'%><(9)%C(yellow)%h%Creset %Cgreen%ad%Creset %><(15,trunc)%Cblue%an%Creset %s%C(auto)%d%Creset' --boundary --date=short
    lla =                log --pretty=tformat:'%><(9)%C(yellow)%h%Creset %Cgreen%ad%Creset %><(15,trunc)%Cblue%an%Creset %s%C(auto)%d%Creset' --boundary --date=short --graph --date-order --all
    lg =  log --decorate --boundary
    lga = log --decorate --boundary --graph --date-order --all

    rm = remote
    rms = remote show
    rmso = remote show origin

    smup = submodule update
    smupr = submodule update --remote

    cln = clean --force --interactive -d

    exists = ls-files --error-unmatch # does a file  exist in the repository?
[push]
    default = simple
[user]
    name = Ryan Carney
[include]
    path = ~/.gitconfig_local
[merge]
    conflictstyle = diff3
    tool = vimdiff
[mergetool]
    prompt = false
[fetch]
	prune = true
