[core]
    excludesfile = ~/.gitignore_global
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    d = diff --color
    dc = diff --color --cached

    dt = difftool
    dtc = difftool --cached

    m = merge
    mt = mergetool

    b = branch
    bl = branch --all --verbose # branch list
    bd = branch -D # branch delete
    bdu = push origin --delete # branch delete upstream
    bc = checkout -b #branch create
    bcu = push origin --set-upstream HEAD # branch create upstream

    cm = commit
    co = checkout
    sh = show
    st = stash
    s = status --short --branch
    f = fetch

    a = add
    at = add --update :/ #add tracked

    rs = reset
    rsh = reset HEAD

    rb = rebase
    rbi = rebase --interactive
    rbc = rebase --continue
    rbc = rebase --abort

    rl = !git --no-pager reflog --max-count=20

    l = !git --no-pager log --pretty=tformat:'%><(9)%C(yellow)%h%Creset %Cgreen%ad%Creset %><(15,trunc)%Cblue%an%Creset %s%C(auto)%d%Creset' --date=short --max-count=10
    ll =                log --pretty=tformat:'%><(9)%C(yellow)%h%Creset %Cgreen%ad%Creset %><(15,trunc)%Cblue%an%Creset %s%C(auto)%d%Creset' --date=short
    lla =               log --pretty=tformat:'%><(9)%C(yellow)%h%Creset %Cgreen%ad%Creset %><(15,trunc)%Cblue%an%Creset %s%C(auto)%d%Creset' --date=short --date-order --graph --all
    lg =  log --decorate
    lga = log --decorate --date-order --graph --all


    rmso = remote show origin

    bk = tag MY_BACKUP # backup tag
    bkco = checkout MY_BACKUP
    bkd = tag -d MY_BACKUP # delete backup tag

    smup = submodule update
    smupr = submodule update --remote

    cln = clean --force --interactive -d

    exists = ls-files --error-unmatch # does a exist?
[push]
    default = simple
[user]
    name = Ryan Carney
    email = arecarn@gmail.com
[include]
    path = ~/.gitconfig_local
[merge]
    conflictstyle = diff3
    tool = vimdiff
[mergetool]
    prompt = false
