[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    d = diff --color
    dc = diff --color --cached

    dt = difftool
    dtc = difftool --cached

    mt = mergetool

    b = branch
    cm = commit
    co = checkout
    s = status
    ri = rebase -i
    rh = reset HEAD

    a = add
    at = add -u :/

    rh = reset HEAD

    r = rebase
    ri = rebase --interactive

    l = !git --no-pager log --pretty=format:'%C(yellow)%h%Creset %Cgreen%ad%Creset %><(15,trunc)%Cblue%an%Creset %s%C(yellow)%d%Creset' --date=short --max-count=10
    ll = !git log --color -p

    up = add -u :/

    bk = tag MY_BACKUP
    ubk = tag -d MY_BACKUP

    smup = submodule update
    smupR = submodule update --remote

    exists = ls-files --error-unmatch
[push]
    default = simple
[user]
    name = Ryan Carney
    email = arecarn@gmail.com
[include]
    path = ~/.gitconfig_local
[merge]
    conflictstyle = diff3
    tool = vimdiff
[mergetool]
    prompt = false
