bundle/**
.netrwhist
local_utils/backup/**
local_utils/neocomplcache/**/*
local_utils/swap/**
local_utils/undo/**
local_utils/unite/directory_mru
local_utils/unite/file_mru
local_utils/unite/file_mru_long
local_utils/unite/history_yank
local_utils/unite/outline/**
local_utils/unite/rec/file/**

