# EDITING                                                                    {{{
################################################################################

set editing-mode emacs
# NOTE: This doesn't seem to work with combination of vi/emacs editing modes
set show-mode-in-prompt on

#############################################################################}}}
# MAPPINGS                                                                   {{{
################################################################################

set keymap emacs
"\e": vi-movement-mode
"\C-x": alias-expand-line
"\C-p": history-search-backward
"\C-n": history-search-forward
"\C-d": possible-completions
"\t": menu-complete
"\C-w": backward-kill-word

set keymap vi-command
"i": emacs-editing-mode
"a": "li"
"A": "$i"
"I": "^i"
"gg": beginning-of-history
"G": end-of-history

#############################################################################}}}
# COMPLETION                                                                 {{{
################################################################################

set show-all-if-ambiguous on
set completion-ignore-case on

# Color files by types
set colored-stats On
# Append char to indicate type
set visible-stats On
# Mark symlinked directories
set mark-symlinked-directories On
# Color the common prefix
set colored-completion-prefix On
# Color the common prefix in menu-complete
set menu-complete-display-prefix On

#############################################################################}}}
# -                                                                          {{{
################################################################################
# vim: textwidth=80
# vim: foldmethod=marker
#############################################################################}}}
